body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
    margin: 40px 0;
}

/* page */
.page {
    overflow: hidden;
}

/* container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url(images/intro.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.intro__title::after {
    content: "";
    height: 3px;
    width: 60px;
    display: block;
    background-color: #fff;
    margin: 40px auto 40px;
}

.intro__suptitle {
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 20px;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* logo */
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
}

.burger__btn {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 2px solid #fff;
    overflow: hidden;
}
.burger__btn span,
.burger__btn span::before,
.burger__btn span::after {
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.burger__btn span::before,
.burger__btn span::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.burger__btn span::before {
    transform: translateY(-10px);
}
.burger__btn span::after {
    transform: translateY(10px);
}
.burger__btn.active {
    position: relative;
    top: 0;
    right: 0;

}
.burger__btn.active span{  
    transform: translateX-(50px);
    background-color: transparent;
}
.burger__btn.active span::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);  
}
.burger__btn.active span::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg); 
}

/* nav */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    transform: translateX(500%);
    transition: transform 0.5s;
    font-size: 14px;
    text-transform: uppercase;
}
.nav.active {
    position: relative;
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.1);
}

.nav__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
    position: relative;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s liner;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover::after,
.nav__link.active::after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* intro slider */
.intro__slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    opacity: 0.6;
    padding: 20px 0;
    position: relative;
    border-top: 3px solid #fff;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: "";
    width: 70px;
    height: 3px;
    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;
    background-color: #f38181;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* section */
.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url(images/devices-bg.jpg) center no-repeat;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: #f5f5f5 url(images/clients-bg.jpg) center no-repeat;
    background-size: cover;
}

.section--map {
    padding: 40px 0;
    background: url(images/map-bg.jpg) center no-repeat;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__suptitle {
    color: #333;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}

/* about */
.card {
    margin-top: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__item:hover .card__text {
    opacity: 1;
}

.card__item:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__img img {
    opacity: 0.1;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity 0.1s linear;
}

.card__text {
    width: 100%;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
}

.card__info {
    margin-top: 20px;
    text-align: center;
}

.card__name {
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

.card__prof {
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

/* statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    padding: 70px 25px;
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/* services */
.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.3333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
}

/* devices */
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/* wedo */
.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* accordion */
.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header::after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 65px;
    position: relative;
    cursor: pointer;
}

.accordion__header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.accordion__content {
    display: none;
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

/* reviews */
.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    display: block;
    width: 210px;
    height: 210px;
    border: 2px solid #95e1d3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    font-size: 24px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

.reviews__btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-135deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(45deg);
}

/* social */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
    line-height: 1;
    background: #fce38a;
    border-right: 1px solid #f38181;
    transition: background 0.1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}

/* logos */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.logos__item {
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* works */
.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
    opacity: 0.1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity .2s linear;
}

.works__info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
}

.works__title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.works__text {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

/* clients */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    position: relative;
    padding: 0 45px 0 175px;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    font-style: italic;
    color: #333;
    font-weight: 300;
}

.clients__text {
    font-size: 15px;
    color: #999;
}

.clients__text::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;
    background-color: #f38181;
}

/* blog */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 14px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    padding: 10px 20px;
    font-style: italic;
    background-color: #95e1d3;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.blog__date-day {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}

.blog__content {
    margin-bottom: 10px;
}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    border-top: #e5e5e5 1px solid;
    color: #999;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat__item i {
    color: #95e1d3;
}

/* map */
.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    font-weight: 700;
    color: #f38181;
    text-transform: uppercase;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}

.map__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;
    background-color: #f38181;
}

/* footer */
.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer__inner {
    padding-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22.2%;
}

.footer__logo {
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__text {
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #95e1d3;
    font-size: 18px;
}

.footer__title {
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    margin: 30px 0;
}

/* blogs */
.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blogs__img {
    width: 120px;
    height: 80px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.5;
    text-decoration: none;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

/* instagram */
.instagram {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.instagram__item {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* subscribe */
.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    height: 40px;
    padding: 12px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    font-size: 15px;
    font-style: italic;
    color: #333;
    font-weight: 300;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #3fc9af;
}

.subscribe__btn:focus {
    outline: 0;
}

/* copyright */
.copyright {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.copyright span {
    color: #f38181;
}

@media (max-width: 1230px) {

    /* intro */
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }

    /* reviews */
    .reviews__text {
        font-size: 20px;
    }
}

@media (max-width: 990px) {

    /* intro */
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* stat */
    .stat {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.3333%;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    /* services */
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    }

    /* reviews */
    .reviews {
        padding: 0 60px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }

    .reviews__item {
        padding-left: 175px;
    }

    /* clients */
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }

    /* footer */
    .footer__col--first {
        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }

    /* instagram */
    .instagram {
        justify-content: flex-start;
    }

    .instagram__item {
        width: auto;
        border-right: 1px solid #fff;
    }
}

@media (max-width: 770px) {

    /* navigation */


    /* section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    /* card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }

    /* slider */
    .slider__text {
        display: none;
    }

    .slider__item.active::before {
        width: 50%;
    }

    /* services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }

    /*wedo*/
    .wedo__img {
        display: none;
    }

    .wedo__item {
        width: 100%;
    }

    /* reviews */
    .reviews__photo {
        margin: 0 auto 20px;
        position: static;
    }

    .reviews__item {
        padding-left: 0;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }

    /* works */
    .works {
        flex-wrap: wrap;
    }

    .works__col {
        flex: none;
        width: 50%;
    }

    /* blog */
    .blog {
        max-width: 380px;
        margin: 0 auto;
    }

    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog__item:last-child {
        margin-bottom: 0;
    }

    /* footer */
    .footer__col--second,
    .footer__col--third {
        width: 100%;
    }
}

@media (max-width: 575px) {

    /* intro */
    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    /* section */
    .section__header {
        margin-bottom: 50px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title::after {
        margin: 20px auto;
    }

    /* stat */
    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }

    /* devices */
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -80px;
    }

    /* reviews */
    .reviews {
        padding: 0;
    }

    .reviews__btn {
        top: 18%;
    }

    /* logos */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos__item {
        width: 50%;
        margin-bottom: 20px;
    }

    .logos__img {
        margin: 0 auto;
    }

    /* works */
    .works__col {
        width: 100%;
    }

    /* clients */
    .clients__photo {
        position: static;
    }

    .clients__item {
        padding-left: 0;
        text-align: center;
    }

    .clients__text::before {
        margin: 15px auto;
    }

    /* Blogs */
    .blogs__img {
        width: 80px;
        height: 50px;
    }

    .blogs__title {
        font-size: 10px;
    }

    /* subscribe */
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
        margin: 0 auto;
    }

    .subscribe__input {
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }

    .subscribe__input,
    .subscribe__btn {
        width: 100%;
    }
}